
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg">
    <header class="hero">
      <h1>
        Star Tribune 50<br>
        <span class="sub-title">The 28<sup>th</sup> Annual Report</span>
      </h1>

      <p class="lead container-md">2018 was a healthy year for Minnesota’s public companies. Combined revenue of the 50 largest grew 8% and profits 18.7% driven by  strong results particularly from UnitedHealth, the country’s sixth largest public company.</p>

      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/patrick-kennedy/10645186/">Patrick Kennedy</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-06-16T00:00:00">June 2, 2019</time>
      </div>

      <div class="sharing-placeholder">
        <!-- share -->
      </div>
    </header>

    <main>
      {#if isBrowser}
        <div class="controls" transition:slide>
          <h1 aria-label="controls-form" class="sr-only">Controls to adjust list of companies</h1>

          <form class="inline-form" id="controls-form">
            <div class="inline-form-element">
              <label for="filter-category">Filter:</label>
              <div id="filter-category" role="group">
                {#if categories}
                  {#each Object.entries(categories) as category (category[0])}
                    <button
                      class="category-color-{ category[0] } { filter === category[0] ? 'active' : '' }"
                      type="button" data-value="{category[0] }"
                      on:click|stopPropagation|preventDefault="set({ filter: category[0] })"
                    >{ category[1] }</button>
                  {/each}
                {/if}

                <button type="button" data-value="" class="active" on:click|stopPropagation|preventDefault="set({ filter: null })">Show all</button>
              </div>
            </div>
          </form>
        </div>
      {/if}

      <h1 aria-label="company-list" class="sr-only">List of companies</h1>
      <ul class="company-list">
        {#each filteredCompanies as company (company.coid)}
          <li transition:fade>
            <Company {...company} publishYear="{ publishYear }" />
          </li>
        {:else}
          <!-- none -->
        {/each}
      </ul>
    </main>

    <div class="related-stories container-md">
          <h4>Star Tribune 50 stories</h4>
          <h3><a href="http://www.startribune.com/look-at-minnesota-s-member-owned-firms-to-see-another-reason-for-good-economy/510624282/" target="_blank"><span>Minnesota’s 4 largest member-owned firms add to depth, diversity of state's economy</span></a></h3>
          <h3><a href="http://www.startribune.com/state-s-manufacturing-thrived-despite-a-long-list-of-challenges/510597842/" target="_blank"><span>Minnesota manufacturing thrived last year despite long list of challenges</span></a></h3>
          <h3><a href="http://www.startribune.com/being-a-startup-in-a-headquarters-town-like-the-twin-cities/510596282/" target="_blank"><span>Lee Schafer: What it’s like starting up a company in a headquarters town like the Twin Cities</span></a></h3>
    </div>

    <hr />

    <footer class="container-md">

      <div class="credits">
        <p>The Star Tribune 50 is a measure of the largest publicly held companies with headquarters in Minnesota ranked by revenue. Another 23 companies were considered but whose revenues were too small for the list. Data for the 50 largest companies also includes each company&rsquo;s net income before extraordinary item &mdash; many companies adjusted net income based on corporate tax reform, assets and market capitalization. Data for the list was taken from Thomson Reuters.</p>

        <p>The list excludes public companies that do not trade on major exchanges, closely held companies, which usually do not disclose financial data, cooperatives and fraternal benefits organizations. Companies that closed acquisitions in 2018 but did not file year-end results were also excluded. Companies who have management headquarters in Minnesota, including Medtronic, Pentair and Winnebago Industries are included.</p>

        <p>Star Tribune graphic: Patrick Kennedy, Alan Palazzolo, Jamie Hutt, David Braunger</p>
      </div>
    </footer>
  </section>
</div>

<script>
  import Company from "./_company.svelte.html";
  import { fade, slide } from "svelte-transitions";

  export default {
    components: {
      Company
    },

    transitions: {
      fade,
      slide
    },

    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }

      // Is browser
      this.set({ isBrowser: true });
    },

    computed: {
      filteredCompanies({ companies, filter }) {
        if (!filter) {
          return companies;
        }

        return companies.filter(c => {
          return c.categoryid === filter;
        });
      }
    },

    data() {
      return {
        filter: undefined,
        // Need for client side
        publishYear: 2019,
        categories: {
          "health-medical": "Health/Medical",
          "retail-service": "Retail/Service",
          manufacturing: "Manufacturing",
          "financial-service": "Financial",
          utility: "Utility",
          other: "Other"
        }
      };
    }
  };
</script>
